server:
  port: 8082
spring:
  application:
    name: spring-oauth2-resourceserver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://auth-tes.camara.gov.br/auth/realms/gabinetedigital